{% extends "admin/base_site.html" %}

{% block title %}{{ title }} | {{ site_title|default:"Administrasi Kedai Depan Rumah" }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:"Administrasi Kedai Depan Rumah" }}</a></h1>
{% endblock %}

{% block content %}
<div id="content-main">
  <form action="" method="post">{% csrf_token %}
    <div>
      <fieldset class="module aligned wide">
        <div class="form-row">
          {{ form.old_password.errors }}
          <label for="id_old_password">Kata sandi lama:</label>
          {{ form.old_password }}
        </div>
        <div class="form-row">
          {{ form.new_password1.errors }}
          <label for="id_new_password1">Kata sandi baru:</label>
          {{ form.new_password1 }}
        </div>
        <div class="form-row">
          {{ form.new_password2.errors }}
          <label for="id_new_password2">Kata sandi baru (ulangi):</label>
          {{ form.new_password2 }}
        </div>
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="Ganti kata sandi">
      </div>
    </div>
  </form>
</div>
{% endblock %}
